
<span id="browser-sync-binding"></span>
<!-- endbuild -->

<template is="dom-bind" id="app">

  <paper-drawer-panel id="paperDrawerPanel">
    <!-- Drawer Scroll Header Panel -->
    <paper-scroll-header-panel drawer fixed>

      <!-- Drawer Toolbar -->
      <paper-toolbar id="drawerToolbar">
        <img src="../images/Thh-logo-white-text.png">
      </paper-toolbar>

      <!-- Drawer Content -->
      <paper-menu class="app-menu" attr-for-selected="data-route" selected="[[route]]">
        <a href="/">
          <iron-icon icon="home"></iron-icon>
          <span>Home</span>
        </a>

        <a href="/about_us/">
          <iron-icon icon="info"></iron-icon>
          <span>About Us</span>
        </a>

        <a href="/news/">
          <iron-icon icon="description"></iron-icon>
          <span>News</span>
        </a>

        <a href="/events/">
          <iron-icon icon="perm-contact-calendar"></iron-icon>
          <span>Events</span>
        </a>

        <a href="/races/">
          <iron-icon icon="directions-run"></iron-icon>
          <span>Races</span>
        </a>

        <a href="/courses/">
          <iron-icon icon="flag"></iron-icon>
          <span>Courses</span>
        </a>

        <a href="/history/">
          <iron-icon icon="history"></iron-icon>
          <span>History</span>
        </a>

        <a href="/club_kit/">
          <iron-icon icon="shopping-cart"></iron-icon>
          <span>Club Kit</span>
        </a>

        <a href="/contact/">
          <iron-icon icon="mail"></iron-icon>
          <span>Contact</span>
        </a>

        <a href="/help/">
          <iron-icon icon="help"></iron-icon>
          <span>Help</span>
        </a>
      </paper-menu>
    </paper-scroll-header-panel>

    <!-- Main Area -->
    <paper-scroll-header-panel main id="headerPanelMain" condenses keep-condensed-header>
      <!-- Main Toolbar -->
      <paper-toolbar id="mainToolbar" class="tall">
        <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>

        <span class="space"></span>

        <!-- Application name -->
        <div class="middle middle-container">
          <div class="app-name">Thames Hare & Hounds</div>
        </div>

        <!-- Application sub title -->
      </paper-toolbar>

      <!-- Main Content -->
